{% extends "base.html" %}

{% block title %}Finance Tools AI | Home{% endblock %}

{% block content %}
<div class="container my-5">

    <header class="text-center mb-5">
        <h1 class="display-4 mb-4">Welcome to the Financial Analysis Tool</h1>
        <p class="lead">Select a tool from the sidebar to get started.</p>
    </header>

    <section class="mission mb-5">
        <h2 class="text-center mb-4 text-dark">Our Mission</h2>
        <div class="card card-custom">
            <p class="lead">Welcome to our finance tools website, crafted by a team of four students from Rouse High School in Leander, Texas, driven by a shared passion for computer science and finance. Our mission is to empower both beginners and seasoned professionals in the financial world with accessible, top-tier tools, completely free of charge.</p>
        </div>
    </section>

    <section class="unique-features mb-5">
        <h2 class="text-center mb-4 text-dark">What Makes Our Website Unique?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-custom">
                    <h3 class="text-center">Comprehensive Free Services</h3>
                    <p class="lead">Unlike many platforms that charge for premium features, we offer essential services an investor needs at no cost.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <h3 class="text-center">Unmatched Convenience</h3>
                    <p class="lead">Our tools, such as the Securities and Exchange Commission (SEC) forms lookup, save you time by compiling all necessary documents from companies' investor relations webpages or the SEC website into one easily accessible location. With just one click, you have everything you need at your fingertips.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-custom">
                    <h3 class="text-center">Guides for All Levels</h3>
                    <p class="lead">We provide guides to help beginners who are new to investing, while also offering the complexity and depth of tools required by professionals and hobbyists who enjoy diving deep into data.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="team mb-5">
        <h2 class="text-center mb-4 text-dark">Our Team</h2>
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 text-center mb-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='Tanish.jpg') }}" class="rounded-circle img-fluid mb-3 team-img" alt="Tanish Muralidhar">
                    <h3 class="h5">Tanish Muralidhar</h3>
                    <p class="text-muted">Rising senior at Rouse High School</p>
                    <a href="https://www.linkedin.com/in/tanish-muralidhar-49a9b5232/" target="_blank">
                        <img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn" width="24">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='Krishna.jpg') }}" class="rounded-circle img-fluid mb-3 team-img" alt="Krishna Chaitanya Perla">
                    <h3 class="h5">Krishna Chaitanya Perla</h3>
                    <p class="text-muted">Rising senior at Rouse High School</p>
                    <a href="https://www.linkedin.com/in/krishna-chaitanya-perla-33a3bb24b/" target="_blank">
                        <img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn" width="24">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='Jayaditya.jpg') }}" class="rounded-circle img-fluid mb-3 team-img" alt="Jayaditya Vetsa">
                    <h3 class="h5">Jayaditya Vetsa</h3>
                    <p class="text-muted">Rising junior at Rouse High School</p>
                    <a href="https://www.linkedin.com/in/jayaditya-vetsa-21b20b285/" target="_blank">
                        <img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn" width="24">
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center mb-4">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='Sai.jpg') }}" class="rounded-circle img-fluid mb-3 team-img" alt="Sai Venkat Saketh Veerapaneni">
                    <h3 class="h5">Sai Venkat Saketh Veerapaneni</h3>
                    <p class="text-muted">Rising junior at Rouse High School</p>
                    <a href="https://www.linkedin.com/in/sai-veerapaneni-47a2701ab/" target="_blank">
                        <img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn" width="24">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <a href="mailto:financetoolsai@gmail.com" class="btn btn-custom">
            Contact us for any issues and feedback
        </a>
    </footer>
</div>
{% endblock %}