{% extends "base.html" %}
{% block title %}Monte Carlo Simulation{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="text-center mb-4">
            <a href="/guides" class="btn btn-primary btn-lg">Click here to go to the guides page</a>
        </div>
        <h1 class="text-center mb-4">Monte Carlo Simulation</h1>
        <form action="/monte-carlo" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="ticker">Ticker:
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Enter the stock's ticker symbol (e.g., AAPL, GOOG).">
                        <i class="fas fa-question-circle"></i>
                    </span>
                </label>
                <input type="text" id="ticker" name="ticker" class="form-control" placeholder="Enter stock ticker" required>
                <div class="invalid-feedback">Please provide a ticker symbol.</div>
            </div>
            <div class="form-group">
                <label for="simulations">Simulations (10-100):
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Enter the number of simulations you want to run.">
                        <i class="fas fa-question-circle"></i>
                    </span>
                </label>
                <input type="number" id="simulations" name="simulations" class="form-control" placeholder="Number of simulations" value="50" min="10" max="100" required>
                <div class="invalid-feedback">Please provide the number of simulations.</div>
            </div>
            <div class="form-group">
                <label for="days">Days (50-300):
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Enter the number of days you want this to simulate.">
                        <i class="fas fa-question-circle"></i>
                    </span>
                </label>
                <input type="number" id="days" name="days" class="form-control" placeholder="Number of days" value="100" min="50" max="300"required>
                <div class="invalid-feedback">Please provide the number of days.</div>
            </div>
            <button type="submit" class="btn btn-dark btn-primary btn-block">Simulate</button>
        </form>

        {% if plot_data %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header text-center bg-secondary text-white">
                        <h3>Stock Price Chart</h3>
                    </div>
                    <div class="card-body text-center">
                        <img src="data:image/png;base64,{{ plot_data }}" class="img-fluid" alt="Stock Price Chart">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% elif error %}
        <div class="alert alert-danger mt-4 text-center">{{ error }}</div>
        {% endif %}
    </div>
    
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
        })();    
    </script>
{% endblock %}
